*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.app-header button{
  margin-right: 20px;
  padding: 6px 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
